header {
  background-color: white;
  position: relative;
margin: 0;
padding: 20px}
  
  nav {
display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  line-height: 60px;
}

.logo .luigi{
  color: green;
  font-family: Verdana, sans-serif;
  font-size: 2rem;
}

.logo .restaurant {
  color: #950606;
  font-family: Brush Script Mt, cursive;
  font-size: 2rem;
}

.logo a{
  text-decoration: none;
}



ul { 
  display: flex;
list-style: none;
padding: 0;
  margin: 0;
  line-height: 25px;
}

ul li {
  margin-right: 15px;
}


ul li a {
  padding: 10px;
  text-decoration: none;
  color: green;
  font-family: Verdana, sans-serif;
  font-size: 1.25rem;
  
}

ul li a:hover {
  color: #950606;
}

.checkbutton {
  display: none;
  
}

.checkbutton:hover {
  margin-right: 20px;
  background-color: lightgreen;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
}

.checkbutton > span{
  display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #950606;
 cursor: pointer;
  
}


#checkbox {
  display: none;
  float: right;
}

@media (max-width: 850px){
  .checkbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
margin-right:20px;}
  
  .logo{
    display: flex;
  }

  ul {
    display: block;
    text-align: center;
    display: none;
  }
  
  #checkbox:checked ~ ul{
    display: block;
  }
}

body {
  background-color: black;
}

h1 {
  color: green;
  font-family: Brush Script Mt, cursive;
  font-size: 2rem;
}

.row{
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 10px;
}

.column img {
  border-radius: 25px;
  max-width:100%;
    height: auto;
  filter: grayscale(100%)
}

.column img:hover {
  filter: grayscale(0%)
}

.food {
  background-image: url("../Images/dagny-reese-tTM1K94ZzhE-unsplash.jpg");
  background-size: cover;
}

h1 {
  background-color: black;
}
.news>p {
 font-family: Verdana, sans-serif;
  font-size: 1.25rem;
  color: white;
}
footer {
  background-color: white;
  font-family: Verdana, sans-serif;
  color: #950606;
margin: 0;
padding: 20px}